<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>

<body>
    <div>
        <div class="header-container">
            <div class="container">
                <div class="logo-section">
                    <img src="#" />
                </div>
                <div class="section">
                    <div>Goal Tracker</div>
                </div>
            </div>

        </div>
        <div class="main-container">
            <div class="container">
                <section>
                    <p>Welcome to Goal Tracker</p>
                    <p>Helping you help yourself follow through on all your goals and ambitions one task at a time.</p>
                </section>
                <section>
                    <a href="/user">Login To Account</a>
                    <a href="/user/create">Create An Account</a>
                </section>
                <section>
                    <img src="#" alt="demo image"/>
                </section>
                <section>
                    <video src="" alt="demo video" />
                </section>
            </div>
        </div>
<!--        <div class="footer-container">-->
<!--            <div class="container">-->
<!--                <ul>-->
<!--                    <li><a href="#">about us</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</body>

</html>