{% extends "base.html.twig" %}

{% block body %}
        <div class="main-container">
            <div class="container">
                <section>
                    <p>Welcome to Goal Tracker</p>
                    <p>Helping you help yourself follow through on all your goals and ambitions one task at a time.</p>
                </section>
                <section>
                    <a href="/login">Login To Account</a>
                    <a href="/user/create">Create An Account</a>
                </section>
                <section>
                    <img src="#" alt="demo image"/>
                </section>
                <section>
                    <video src="" alt="demo video" />
                </section>
            </div>
        </div>
{% endblock %}
