{% extends "base.html.twig" %}

{% block body %}

    <div id="goalapp">

        <div class="user-greeting">
            Hello {{ username }}
        </div>

        <div>
            <p>Your Goals</p>
            <ul>
                {% for goal in goals %}

                    <li>
                        <a href="/goal/info?gid={{ goal.id }}">
                            {{ goal.title}}
                        </a>
                    </li>


                {% endfor %}
            </ul>
        </div>


    </div>

    <div>
        <a href="/goal/create">Create New Goal</a>
    </div>
{% endblock %}






































