{% extends "base.html.twig" %}

{% block body %}
    <div>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <a href="/goal">Back</a>
    </div>
    <div id="goalapp">

        {{ username }}
        <ul>
            {% for goal in goals %}
                <li>
                    <a href="/goal/info?gid={{ goal.id }}">
                        {{ goal.title}}
                    </a>
                </li>


            {% endfor %}
        </ul>

    </div>

    <div>
        <a href="/goal/create">Create New Goal</a>
    </div>
{% endblock %}






































